<!doctype html>

<html>
<title>Список 50 топ роликов на канале Влад и Никита</title>


<body>

<table style="margin-left: 20px;" border="2px">
<!-- Table headers -->
	<thead>
		<tr style="color: purple">
			<th colspan="3">Vlad&Niki</th>
		</tr>
		<tr style="color: green; ">
			<th>Дата</th>
			<th>Название</th>
			<th>VPH</th>
		</tr>
	</thead>
	<tbody>
		{%for i in range(0, 10)%}
		<tr>
			<td>{{published_at[i]}}</td>
			<td align="center">{{vid_titles[i]}}</td>
			<td>{{vph[i]}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>

</body>
</html>
